$def with (private_data)
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
$:private_data['render'].admin.header(private_data)
</head>
<body class="hold-transition sidebar-mini layout-fixed">
$:private_data['render'].admin.aside(private_data)
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
      </div>
    </div>
  </div>
$:private_data['render'].admin.foot(private_data)
</body>
<script>
function myconfirm(name,id){
  layer.confirm('您确认要删除吗？', {
  btn: ['确认','取消'] //按钮
  }, function(){
      window.location.href=name+id;
  }, function(){
     return false;
  });
}
</script>
</body>
</html>
