$def with (private_data)
<!doctype html>
<html lang="en">
<head>
    <title>关于我</title>
    $:private_data['render'].front.header(private_data)
</head>
<body>
<!--导航-->
$:private_data['render'].front.page_header(private_data)

<!--内容-->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <div class="container">

                <div class="row mt-2">
                    <div class="col-md-12 bgc">
                        <div class="new">
                            <span><i class="el el-info-circle"></i>关于本博客</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
<!--                    <div class="col-md-12 bgc">-->
<!--                        <div class="new">-->
<!--                            <span><i class="el el-list-alt"></i>内心独白</span>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="about-content bgc">
                        <p>个人简介：精通PHP技术开发，目前擅长ECOS、thinkPHP、Laravel、VMC等框架的开发，熟练Mootools、jQuery、Bootstrap、AJAX、javascript、Zepto、Html、CSS等前端页面技术和SEO网站优化技术，掌握Unix、Lunix等系统基本命令操作。.</p>
                    </div>
                </div>
            </div>
        </div>

        <!--右边-->
         $:private_data['render'].front.page_right(private_data)
    </div>

</div>

$:private_data['render'].front.footer(private_data)
<script>
    window.onload=function () {
        var art_list=document.getElementById('box');
        var art_list_a=art_list.getElementsByTagName('a');

        for (var i=0;i<art_list_a.length;i++){

            var aclick = art_list_a[i];

            aclick.onclick=function(){

                for (var j=0;j<art_list_a.length;j++){
                    art_list_a[j].className='';
                    art_list_a[j].style.color='#000000';
                }
                this.className='actives';
                this.style.color='#ffffff';
            };


        }

    }
</script>
</body>
</html>