$def with (private_data)
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
   $:private_data['render'].front.header(private_data)
</head>
<body>
<!--导航-->
$:private_data['render'].front.page_header(private_data)

<!--内容-->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <div class="container">
                <div class="row mt-2 wow fadeInDown">
                    <div class="col-md-12 bgc">
                        <div class="new">
                            <span><i class="el-certificate"></i></span>
                            <span style="color:#5c5c5c;">分类
                                <strong style="color: #00b3ee">$:private_data['current_category'].name</strong>
                                的文章
                            </span>
                            <small>Search Article</small>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 ">
                    <ul class="list-unstyled art-list">
                        $for article in private_data['article_list']:
                            $if loop.odd:
                                <li class="media wow bounceInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            $if loop.even:
                                <li class="media wow bounceInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="art-img">
                                <img class="mr-3" src="$static_url('/images/8.jpg')"  alt="Generic placeholder image">
                            </div>
                            <div class="media-body art-content">
                                <h5 class="mt-0 mb-1"><a href="$make_url('/article/info',{'article_id':article.id})">$:article.name</a></h5>
                                <p>$:article.summary...</p>
                                <ul>
                                    <li><a title="惜缘2019-04-03发表"><i class="el-time"></i>$:article.createTime</a></li>
                                    <li class="d-none d-sm-none d-md-none d-lg-block"><a href="#" title="作者： 惜缘"><i class="el-user"></i>惜缘</a></li>
                                    <li><a title="已有 2 个赞"><i class="el-heart"></i>2</a></li>
                                    <li><a title="已有 1次浏览"><i class="el-eye-open"></i>1</a></li>
                                    <li class="d-none d-sm-none d-md-none d-lg-block"><a href="#" title="查看分类"><i class="el-th-list"></i>生活</a></li>
                                </ul>
                            </div>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--右边-->
        $:private_data['render'].front.page_right(private_data)
    </div>
</div>
$:private_data['render'].front.footer(private_data)
<script>
    window.onload=function () {
        var art_list=document.getElementById('box');
        var art_list_a=art_list.getElementsByTagName('a');
        for (var i=0;i<art_list_a.length;i++){
            var aclick = art_list_a[i];
            aclick.onclick=function(){
                for (var j=0;j<art_list_a.length;j++){
                    art_list_a[j].className='';
                    art_list_a[j].style.color='#000000';
                }
                this.className='actives';
                this.style.color='#ffffff';
            };
        }
    }
</script>
</body>
</html>
