$def with (private_data)
<!--底部-->
<footer id="footer">
    <div class="container">
        <div class="row footer-row">
            <div class="col-md-6">
                <div class="fooder-title">
                    <h5>说说排行</h5>
                </div>
                <div class="something">
                    <ul class="art-sort">
                        <li>
                            <span>1</span>
                            <a href="#">thinkphp5随机抽取数据的方法
                                <b>(235)</b>
                            </a>
                        </li>
                        <li>
                            <span>2</span>
                            <a href="#">thinkphp5随机抽取数据的方法
                                <b>(235)</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fooder-title">
                    <h5>说说排行</h5>
                </div>
                <ul class="list-unstyled footer-list">
                    <li class="media">
                        <div class="footer-img">
                            <img class="mr-3" src="$static_url('/images/10.jpg')"  alt="Generic placeholder image">
                        </div>
                        <div class="media-body art-content footer-content">
                            <h5 class="mt-0 mb-1">js前端实现模糊查询</h5>
                            <p>js前端实现模糊查询对于模糊查询，一般都是传关键字给后端</p>
                            <!--<ul>
                                <li><a title="惜缘2019-04-03发表"><i class="el-time"></i>2019-04-03</a></li>
                                <li class="d-none d-sm-none d-md-none d-lg-block"><a href="/index/article/index/id/32.html" title="查看分类"><i class="el-fire"></i>5</a></li>
                            </ul>-->
                        </div>
                    </li>
                </ul>
            </div>
            <!--<div class="col-md-3">dASDsadASDasdASDas</div>
            <div class="col-md-3">dASDsadASDasdASDas</div>-->
        </div>
        <div class="row">
        </div>
    </div>
    <div class="foot-nav text-center">
        <div class="copy-right"><span>Copyright © xxxxxxxx 2018 </span></div>
        <div class="bottom-nav">
            <span>ICP备xxxx号 </span>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="$static_url('lib/jquery/jquery.js')"></script>
<script src="$static_url('lib/bootstrap/js/bootstrap.js')"></script>
<script src="$static_url('js/wow.js')"></script>
<script>
    new WOW().init();//把wow初始化
</script>