$def with (private_data)
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <title>博客首页</title>
   $:private_data['render'].front.header(private_data)
</head>
<body>
<!--导航-->
$:private_data['render'].front.page_header(private_data)
<!--内容-->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <div class="container">
                <div class="row wow fadeInDown">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            $for image in private_data['images_list']:
                                $if loop.index == 1:
                                    <a class="carousel-item active" href="$:image['link']" target="_blank">
                                        <img src="$:image['url']" class="d-block w-100" alt="...">
                                    </a>
                                $else:
                                    <a class="carousel-item"  href="$:image['link']" target="_blank">
                                        <img src="$:image['url']" class="d-block w-100" alt="...">
                                    </a>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <div class="row mt-2 wow fadeInDown">
                    <div class="col-md-12 bgc">
                        <div class="new">
                            <span><i class="el-certificate"></i></span>

                            <span>最新文章</span>
                            <small>New Article</small>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 ">
                    <ul class="list-unstyled art-list">
                        $for article in private_data['article_list']:
                            $if loop.odd:
                                <li class="media wow bounceInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            $if loop.even:
                                <li class="media wow bounceInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
                            <a class="article-each" href="$make_url('/article/info',{'article_id':article.id})" target="_blank">
                            <div class="art-img">
                                <img class="mr-3" src="$static_url('/images/8.jpg')"  alt="Generic placeholder image">
                            </div>
                            <div class="media-body art-content">
                                <h5 class="mt-0 mb-1">$:article.name</h5>
                                <p>$:article.summary...</p>
                                <ul>
                                    <li><span title="惜缘2019-04-03发表"><i class="el-time"></i>$:article.createTime</span></li>
                                    <li class="d-none d-sm-none d-md-none d-lg-block"><soan title="作者： 惜缘"><i class="el-user"></i>惜缘</soan></li>
                                    <li><span title="已有 2 个赞"><i class="el-heart"></i>2</span></li>
                                    <li><span title="已有 1次浏览"><i class="el-eye-open"></i>1</span></li>
                                    <li class="d-none d-sm-none d-md-none d-lg-block">
                                        <span  title="查看分类">
                                            <i class="el-th-list"></i>
                                            $:article.category.name
                                        </span>
                                    </li>
                                </ul>
                            </div>
                                </a>
                            </li>
                        $:get_page_str('/', private_data['current_page'], private_data['total_page'])
                    </ul>
                </div>
            </div>
        </div>

        <!--右边-->
        $:private_data['render'].front.page_right(private_data)
    </div>

</div>

$:private_data['render'].front.footer(private_data)
<script>
    // window.onload=function () {
    //     var art_list=document.getElementById('box');
    //     var art_list_a=art_list.getElementsByTagName('a');
    //     for (var i=0;i<art_list_a.length;i++){
    //         var aclick = art_list_a[i];
    //         aclick.onclick=function(){
    //             for (var j=0;j<art_list_a.length;j++){
    //                 art_list_a[j].className='';
    //                 art_list_a[j].style.color='#000000';
    //             }
    //             this.className='actives';
    //             this.style.color='#ffffff';
    //         };
    //     }
    // }
</script>
</body>
</html>
