$def with (private_data)
<div class="col-md-4 ">
    <div class="container">
        <div class="row bgc mt-5 right-author">
            <div class="col-md-12 ">
                <div class="auth-img">
                    <img src="$static_url('images/default.jpg')" alt="">
                </div>
                <div class="auth-name">
                    <span>惜缘</span>
                    <p>一个前端开发</p>
                </div>
                <div class="auth-info" style="display: none">
                    <ul>
                        <li><strong>2</strong><span>今日访问量</span></li>
                        <li><strong>2</strong><span>今日访问量</span></li>
                        <li><strong>2</strong><span>今日访问量</span></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row bgc mt-3">
            <!--<form>-->
            <form class="search" action="$make_url('/article/search')" method="GET">
                <input type="text" class="search-input" name="keywords" placeholder="输入搜索内容" required>
                <input class="search-submit" value=""  type="submit">
                <i class="el-search"></i>
            </form>
            <!--</form>-->
        </div>
        <div class="row bgc mt-4">
            <div class="new new-right">
                <span><i class="el-arrow-up"></i></span>
                <span>内容分类</span>
                <small>Article Category</small>
            </div>
            <div class="col-md-12 ">
                <div class="tab-pane" role="tabpanel"
                     aria-labelledby="nav-profile-tab">
                    <ul class="art-sort">
                        $for cat in private_data['category_list']:
                            <li>
                                <span>$:loop.index</span>
                                <a href="$make_url('/article/list', {'category_id':cat.id})">
                                    $:cat.name
                                    <b>($:get_ca_count(cat.id))</b>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row bgc mt-3">
            <div class="new new-right">
                <span><i class="el-headphones"></i>推荐文章</span>
                <small>New Article</small>
            </div>
            <div class="col-md-12 ">
                <div class="tab-pane" role="tabpanel"
                     aria-labelledby="nav-profile-tab">
                    <ul class="art-sort">
                        <li>
                            <span>1</span>
                            <a href="#">thinkphp5随机抽取数据的方法
                                <b>(235)</b>
                            </a>
                        </li>
                        <li>
                            <span>2</span>
                            <a href="#">thinkphp5随机抽取数据的方法
                                <b>(235)</b>
                            </a>
                        </li>
                        <li>
                            <span>3</span>
                            <a href="#">thinkphp5随机抽取数据的方法
                                <b>(235)</b>
                            </a>
                        </li>
                        <li>
                            <span>4</span>
                            <a href="#">thinkphp5随机抽取数据的方法
                                <b>(235)</b>
                            </a>
                        </li>
                        <li>
                            <span>5</span>
                            <a href="#">thinkphp5随机抽取数据的方法
                                <b>(235)</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row bgc mt-5">
            <div class="new new-right">
                <span><i class="el-tags"></i>标签云</span>
                <small>New Article</small>
            </div>
            <div class="col-md-12 ">
                <ul class="label">
                    $for tag in get_tags():
                        <li>
                            $for k in tag.keys():
                                <a href="$make_url('/article/article_tag_list',{'tag': k})" title="$k" target="_blank">
                                $k &nbsp;&nbsp;
                            $for i in tag.values():
                                ($i)
                        </a>
                        </li>
                </ul>
                </ul>
            </div>
        </div>

        <div class="row bgc mt-5">
            <div class="new new-right">
                <span><i class="el-paper-clip"></i>友情连接</span>
                <small>Friend Links</small>
            </div>
            <div class="col-md-12 ">
                <ul class="links">
                    <li><a href="">百度一下</a></li>
                    <li><a href="">惜缘个人博客</a></li>
                    <li><a href="">百度一下</a></li>
                    <li><a href="">百度一下</a></li>
                </ul>

            </div>
        </div>

    </div>
</div>