$def with (private_data)
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
   $:private_data['render'].front.header(private_data)
</head>
<body>
<!--导航-->
$:private_data['render'].front.page_header(private_data)

<!--内容-->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <div class="container">
                <div class="row mt-2 wow fadeInDown">
                    <div class="col-md-12 bgc">
                        <div class="new">
                            <span><i class="el-certificate"></i></span>
                            <span style="color:#5c5c5c;">标签为
                                <strong style="color: #00b3ee">$:private_data['tag']</strong>
                                的文章
                            </span>
                            <small>Search Article</small>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 ">
                    <ul class="list-unstyled art-list">
                        $for article in private_data['article_list']:
                            $if loop.odd:
                                <li class="media wow bounceInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            $if loop.even:
                                <li class="media wow bounceInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
                            <a class="article-each" href="$make_url('/article/info',{'article_id':article.id})" target="_blank">
                            <div class="art-img">
                                <img class="mr-3" src="$static_url('/images/8.jpg')"  alt="Generic placeholder image">
                            </div>
                            <div class="media-body art-content">
                                <h5 class="mt-0 mb-1">$:article.name</h5>
                                <p>$:article.summary...</p>
                                <ul>
                                    <li><span title="惜缘2019-04-03发表"><i class="el-time"></i>$:article.createTime</span></li>
                                    <li class="d-none d-sm-none d-md-none d-lg-block"><span title="作者： 惜缘"><i class="el-user"></i>惜缘</span></li>
                                    <li class="d-none d-sm-none d-md-none d-lg-block"><span title="查看分类"><i class="el-th-list"></i>$:article.category.name</span></li>
                                </ul>
                            </div>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--右边-->
        $:private_data['render'].front.page_right(private_data)
    </div>
</div>
$:private_data['render'].front.footer(private_data)
</body>
</html>
